name: Publish Release

on:
  pull_request:
    types:
      - closed
    branches:
      - master

permissions:
  contents: write
  id-token: write

jobs:
  build-and-publish:
    if: github.event.pull_request.merged == true &&
      contains(github.event.pull_request.labels.*.name, 'release')
    uses: newrelic/video-core-js/.github/workflows/npm-publish.yml@stable
    with:
      s3-path: 'media-agents/browser/videojs'
      file-to-upload: 'dist/umd/newrelic-video-videojs.min.js'
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
