name: Build and Publish

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  test-release-flow:
    name: Test Release Flow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build package
        run: npm run test

  # Uncomment below to actually publish to npm and S3
  # build-and-publish:
  #   needs: test-release-flow
  #   uses: newrelic/video-core-js/.github/workflows/npm-publish.yml@stable
  #   with:
  #     node-version: 'lts/*'
  #     s3-path: 'media-agents/browser/videojs'
  #     file-to-upload: 'dist/umd/newrelic-video-videojs.min.js'
  #   secrets:
  #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}   